<!-- ////////////// FOOTER ////////////// -->
footer
	.contact
		.container
			.row
				.col-12.col-md-6.col-lg-3
					h4 FULLSTACK VIETNAM
					ul
						li Mobile: (+84) 969689893
						li Email: admin@fullstackvietnam.com
						li Địa chỉ: 28 đường số 2 – CITY LAND 
						li Phường 7 – Gò Vấp – HCM
				.col-12.col-md-6.col-lg-5
					h4 LINK
					.row
						.col-12.col-md-6
							ul
								li
									a(href="#") Khóa học FrontEnd Master
								li
									a(href="#") Khóa học FullStack Developer
								li
									a(href="#") Khóa học Design chuyên nghiệp
								li
									a(href="#") Lịch khai giảng
								li
									a(href="#") Đăng ký Khóa học
						.col-12.col-md-6
							ul
								li
									a(href="#") Khóa học FrontEnd Master
								li
									a(href="#") Khóa học FullStack Developer
								li
									a(href="#") Khóa học Design chuyên nghiệp
								li
									a(href="#") Lịch khai giảng
								li
									a(href="#") Đăng ký Khóa học
				.col-12.col-md-6.col-lg-4
					h4 EMAIL
					.input-mail
						input.btn-form(type="text", placeholder="Email của bạn")
						input.btn-email(type="submit" value="GỬI")
	.coppyright
		.container
			.row
				.col-12.col-md-6.d-flex.align-items-center.justify-content-center.justify-content-md-start
					p Copyright 2018 by FullStack Vietnam
				.col-12.col-md-6
					ul
						li 
							a(href="#")
								i.fab.fa-facebook-f
						li 
							a(href="#")
								i.fab.fa-twitter
