<!-- ////////////// HEADER ////////////// -->
header
	.menu
		.container
			.row
				.col-12
					nav.navbar.navbar-expand-lg.navbar-light
						a.navbar-brand(href='#')
							img.img-fluid(src="./img/logo.png", alt="")
						button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
							span.navbar-toggler-icon
						#navbarNavAltMarkup.collapse.navbar-collapse
							.navbar-nav.ml-auto
								a.nav-item.nav-link.active(href='#')
									| Home 
									span.sr-only (current)
								a.nav-item.nav-link(href='#') Services
								a.nav-item.nav-link(href='#') About
								a.nav-item.nav-link(href='#') Contact
	.slider
		.owl-carousel.owl-theme.sl1
			.item
				figure
					img.img-fluid(src="./img/slider1.png", alt="")
					.container
						.row
							.col-md-6.offset-md-3
								figcaption.text-center
									h1 Chúng tôi là FullStack Việt Nam
									p Full Stack Developer là nghề cực hot hiện nay, những lập trình viên- Full Stack có đầy đủ các kỹ năng tổng hợp
			.item
				figure
					img.img-fluid(src="./img/slider2.png", alt="")
					.container
						.row
							.col-md-6.offset-md-3
								figcaption.text-center
									h1 Chúng tôi là FullStack Việt Nam
									p Full Stack Developer là nghề cực hot hiện nay, những lập trình viên- Full Stack có đầy đủ các kỹ năng tổng hợp
<!-- ////////////// HEADER ////////////// -->
